@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts'; 
@import 'reset'; //обнуление стилей
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок


body {
  min-height: 100vh;
  font-size: 14px;
  line-height: 18px;
  color: #242121;
  letter-spacing: 0.6px;
  padding: 20px;
  background: #75569b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  a {
    font-size: 40px;
    line-height: 45px;
    color: #fff;
  }
}

.box {
  padding: 20px;
  border: 1px solid yellow;
  background-color: seagreen;
  margin-bottom: 30px;
  cursor: pointer;
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal=='left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical=='top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.draw-border {
  @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
}

//=== Button styling, semi-ignore
.box {
  background: none;
  border: none;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;

  &:focus {
    outline: 2px dotted #55d7dc;
  }
}



@import 'media'; // здесь медиа запросы