@import 'vars'; //пишутся переменные для цвета, шрифта и т.д. 
@import 'fonts';
@import 'reset'; //обнуление стилей
@import 'libs';
@import 'global'; //глобальные стили, типо reset.css. Что-то для бади, ссылок

.header {
  background-image: url('../images/decor/header-bg.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 570px;
    padding: 120px 0 140px;
  }

  &__content-title {
    @extend %poppins-700;
    font-size: 100px;
    line-height: 120px;
    color: $default;
    margin-bottom: 36px;
  }

  &__content-link {
    @extend %link;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__content-btn {
    @extend %btn;
    margin-right: 20px;
  }

  &__img {
    height: auto;
    width: 480px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }

  &__content {
    background-color: #fff;
    color: #000;
    margin: auto;
    border: 1px solid #888;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-popup {
  &__title {
    font-size: 25px;
    line-height: 30spx;
    text-align: center;
    color: #170C04;
    margin-bottom: 20px;
  }

  &__container input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  &__btn {
    @extend %btn;
  }

  &__container input:focus {
    background-color: #FCF2EB;
    outline: none;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FCF2EB;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 100;
}

.sticky+.header__bottom {
  padding-top: 100px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    text-transform: uppercase;
    @extend %roboto-500;
    font-size: 22px;
    line-height: 26px;
    color: #000;
    padding-left: 5px;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 19px;
  }

  &__item+.menu__item {
    margin-left: 55px;
  }

  &__link {
    color: $default;
  }

  &__link {
    transition: all .3s;
    padding-bottom: 5px;

    &:hover {
      border-bottom: 1px solid $accent;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__item+.user-nav__item {
    margin-left: 40px;
  }

  &__item {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__btn {
    display: none;
    z-index: 11;
  }
}

.benefit {
  padding: 130px 0;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 360px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    text-align: center;
    padding: 40px 30px 15px 30px;
    position: relative;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      border: none;
      box-shadow: 0px -3px 48px -3px rgba(252, 242, 235, 0.86);
    }
  }

  &__item-box {
    position: absolute;
    top: -27px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url('../images/decor/dog-bg1.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 54px;
  }

  &__item-box--blue {
    background-image: url('../images/decor/dog-bg2.svg');
  }

  &__item-box--pink {
    background-image: url('../images/decor/dog-bg3.svg');
  }

  &__item-title {
    @extend %poppins-400;
    font-size: 25px;
    line-height: 37px;
    color: $default;
    margin-bottom: 10px;
  }

  &__item-text {
    color: $default;
    opacity: 0.6;
    margin-bottom: 25px;
  }

  &__item-link {
    color: $accent;
  }

  &__item-img {
    width: 40px;
    height: 40px;
  }
}

.products {
  padding-top: 100px;
  margin-top: -100px;

  &__title {
    margin-bottom: 18px;
  }

  &__text {
    max-width: 505px;
    opacity: 0.6;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__top-item {
    width: 555px;
    margin-bottom: 65px;
  }

  &__top-image {
    background-color: #FCF2EB;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    margin-bottom: 25px;
    overflow: hidden;
  }

  &__top-img {
    width: 350px;
    height: auto;
    transition: 1s; 
    display: block;
    &:hover {
        transform: scale(1.2);
    }
  }

  &__top-content {
    text-align: center;
  }

  &__top-title,
  &__bottom-title {
    @extend %poppins-500;
    font-size: 25px;
    line-height: 27px;
    color: $default;
    margin-bottom: 10px;
  }

  &__top-link,
  &__bottom-link {
    @extend %roboto-400;
    font-size: 16px;
    line-height: 19px;
    color: $accent;
    display: block;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__bottom-item {
    width: 360px;
    margin-bottom: 45px;
  }

  &__bottom-image {
    background-color: #FCF2EB;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 273px;
    margin-bottom: 23px;
    overflow: hidden;
  }

  &__bottom-img {
    width: 250px;
    height: auto;
    display: block;
    transition: 1s;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__links {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }

  &__link {
    @extend %link;
    border-radius: 4px;
    cursor: pointer;
    max-width: 185px;
  }
}

.dog-care {
  padding-top: 100px;
  margin-top: -100px;
  padding-bottom: 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    margin-left: -130px;
  }

  &__content {
    max-width: 490px;
    padding: 200px 0 160px;

    span {
      @extend %roboto-500;
      font-size: 16px;
      line-height: 19px;
      color: $accent;
      margin-bottom: 5px;
    }
  }

  &__title {
    line-height: 45px;
    text-align: left;
    margin-bottom: 20px;
  }

  &__text {
    opacity: 0.6;
    margin-bottom: 40px;
  }

  &__link {
    @extend %link;
  }

  &__btn {
    @extend %btn;
    margin-right: 30px;
  }
}

.sub {
  padding: 35px 0 120px;
  padding-top: 0;

  &__inner {
    padding-top: 130px;
    margin-top: -130px;
  }

  &__title {
    max-width: 505px;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 380px;
    text-align: center;
    margin-bottom: 45px;
  }

  &__item-img {
    margin-bottom: 50px;
  }

  &__item-content {
    max-width: 360px;
  }

  &__item-title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 22px;
  }

  &__item-text {
    margin-bottom: 15px;
  }

  &__item-link {
    font-size: 16px;
    line-height: 19px;
    color: #E27B3A;
    display: block;
  }

  &__btn {
    @extend %btn;
    margin: 0 auto;
    display: block;
  }
}

.galery {
  padding-bottom: 120px;
  padding-top: 150px;
  margin-top: -150px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 555px;
    margin-right: 30px;
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    opacity: 0.6;
    margin-bottom: 25px;
  }

  &__left-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  &__left-item {
    width: 260px;
    height: 170px;
    background-color: #FCF2EB;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left-img {
    width: 150px;
    height: 150px;
  }

  &__left-item--blue {
    background-color: rgba(41, 61, 133, 0.1);
  }

  &__left-item--purple {
    background-color: rgba(133, 0, 41, 0.1);
  }

  &__left-item--pink {
    background-color: rgba(204, 143, 173, 0.1);
  }

  &__right {
    width: 555px;
    height: 530px;
    background-color: #FCF2EB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}

.reviews {
  padding-bottom: 85px;

  &__title {
    margin-bottom: 50px;
  }

  &__box {
    width: 585px;
    height: 300px;
    margin: 0 auto;
    position: relative;
  }

  &__box-item {
    width: 555px;
    height: 270px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
  }

  &__box-first {
    z-index: -3;
    margin-top: -30px;
    margin-left: -30px;
  }

  &__box-second {
    z-index: -2;
    margin-top: -20px;
    margin-left: -20px;
  }

  &__box-third {
    z-index: -1;
    margin-top: -10px;
    margin-left: -10px;
  }

  &__slider,
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__slider-arrow--top,
  &__slider-arrow--down {
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 170px;
    right: -40px;
    z-index: 5;
  }

  &__slider-arrow--down {
    top: 205px;
    right: -39px;
  }

  .slick-disabled {
    svg {
      fill: #c4bbb4;
    }

    path {
      stroke: grey;
    }
  }

  &__comment {
    text-align: center;
    padding: 30px 30px 20px 30px;
    width: 555px !important;
    height: 270px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    position: relative;
    background-color: #fff;
    left: 15px;

  }

  &__comment::before,
  &__comment::after {
    content: '';
    position: absolute;
    height: 49px;
    width: 40px;
    background-repeat: no-repeat;
  }

  &__comment::before {
    background-image: url('../images/decor/blockquote-top.png');
    left: 30px;
    top: 25px;
  }

  &__comment::after {
    background-image: url('../images/decor/blockquote-down.png');
    right: 30px;
    bottom: 25px;
  }

  &__comment-image {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
  }

  &__comment-img {
    width: auto;
    height: 100%;
    margin: 0 auto;
  }

  &__comment-text {
    padding: 20px 0;
  }

  &__comment-position {
    opacity: 0.6;
    font-size: 12px;
    line-height: 24px;
  }
}


.form-message {
  padding-bottom: 70px;

  &__inner {
    background-image: url('../images/form-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 345px;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 65px 0 70px;
  }

  &__content {
    max-width: 420px;
  }

  &__title {
    color: #fff;
    margin-bottom: 18px;
    font-size: 31.25px;
    line-height: 41px;
    text-align: left;
  }

  &__text {
    color: #FFFFFF;
    opacity: 0.7;
  }

  &__form {
    height: 70px;
  }

  &__input {
    border: none;
    height: 69px;
    width: 375px;
    padding: 15px 20px;
    color: #170C04;
    @extend %roboto-400;
    font-size: 16px;
    line-height: 41px;
    background-color: #fff;
    border-radius: 10px 0px 0px 10px;
    margin-right: -4px;
  }

  &__btn {
    background-color: #E27B3A;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    padding: 16px 37px;
    border: none;
    height: 70px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.footer {
  min-height: 363px;
  background-image: url('../images/footer-bg.jpg');
  background-repeat: no repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 105px;
  border-top: none;

  &__logo {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin-bottom: 67px;

    span {
      color: #fff;
      font-size: 26px;
      line-height: 30px;
      padding-top: 13px;
    }
  }

  &__logo-img {
    width: 48px;
    height: 51px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-left,
  &__list-right {
    margin-top: 170px;
  }

  &__list-right {
    text-align: right;
  }

  &__list-link {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.8;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 37px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item:not(:first-child) {
    margin-left: 25px;
  }

  &__link {
    width: 40px;
    height: 40px;
    background-color: #DFDFDF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@import 'media';